/**
 * @file
 * Your Project Stylesheet
*/

// VARIABLES
// Layout
$grid-columns:12;
$grid-gutter:3em;
$breakpoint-sm:640px;
$breakpoint-md:1024px;
$breakpoint-lg:1460px;

// Type
$font-size:18px;
$font-small:0.8em;
$font-large:1.2em;
$font-family:sans-serif;
$alt-font:$font-family; // this is for an alternative font
$font-weight-light:300;
$font-weight-normal:400;
$font-weight-bold:700;
$font-scale:1.5;
$line-height:$font-scale + em;

// Background colors
$page-background:#fff;
$footer-background:#e6e6e6;

// Text colors
$text-color:#222;
$text-light:#999;

// Design colors
$accent: #0083ff;
$pop: #94e864;
$selection: fade-out($pop, 0.3);
$link-color: change-color($accent, $lightness: 30%);
$link-hover: #000;

// Indicator colors
$color-info: #1b77c5;
$screen-info: change-color($color-info, $lightness:90%);
$color-success: #1d9428;
$screen-success: change-color($color-success, $lightness:90%);
$color-warning: #d4ae2f;
$screen-warning: change-color($color-warning, $lightness:90%);
$color-danger: #c0343b;
$screen-danger: change-color($color-danger, $lightness:90%);

// Form colors
$form-color-button: $link-color;
$form-color-focus: $pop;

// Line colors
$line-color: #ddd;
$line-color-dark: #999;

// Radii
$master-radius: 0;
$form-radius: $master-radius;
$button-radius: $form-radius;
$box-radius: $master-radius;

// Screens
$screen: #e6e6e6;
$screen-lt: #f2f2f2;
$screen-dk: #444;

// Mixins
@import "modules/_mixins";

// Core
@import "modules/_core";

// Layout
@import "modules/_layout";

// Type
@import "modules/_type";

// Forms
@import "modules/_forms";

// Animations
@import "modules/_animations";
