// All mixins all the time
@mixin clearfixed() {
	content: " ";
	display: block;
	clear: left;
	height: 0;
	overflow: hidden;
}

@mixin transition($els:all, $duration:0.3s, $easing:ease-out) {
	transition:$els $duration $easing;
}

@mixin accessible-hide() {
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	overflow:hidden;
}

@function contrasting-text($color) {
	@if (lightness($color) > 50%) {
		@return #000; // black for light backgrounds
	} @else {
		@return #fff; // white for darker backgrounds
	}
}